# Dependencies
node_modules/

# Next.js
.next/
out/

# Builds
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Vercel
.vercel/
